<div class="row">
  <div class="col-md-8">
    <p><%= @idea.content %></p>
    <h3>People Supporting this Idea</h3>
    <% if @users && @users.any? %>
      <ul class="users support">
        <%= render @users %>
      </ul>
    <% end %>
  </div>
</div>
