<div class="row">
  <div class="col-md-8">
    <h1>Voices in support of: "<%= @idea.content %>"</h1>
    <% if @users && @users.any? %>
      <div class="users support">
        <% @users.each do |user| %>
          <div>
            <% if not user.nil? %>
              <%= link_to gravatar_for(user, size: 50), user %>
              <h5><%= link_to "#{user.first_name} #{user.last_name}", user %></h5>
              <span><%= pluralize(user.ideas.count, "idea") %></span>
            <% else %>
              <p>nil user</p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
