<div class="row">
  <div class="col-md-8">
    <h3><%= @user.first_name %> Supports</h3>
    <% if @users && @users.any? %>
      <ul class="users support">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
