<div class="row">
  <div class="col-md-8">
    <h3><%= @user.first_name %> Supports</h3>
    <% if @user && @user.supports.any? %>
      <ul class="users support">
        <%= "render @user.supports" %>
      </ul>
    <% end %>
  </div>
</div>
