<% if idea %>
<div class="stats">
  <%= link_to "idea", supporters_idea_path(idea.id) %>
    <strong id="supporters" class="stat">
      <%= pluralize(idea.supporters.count, "supporter") %>
    </strong>
  </a>
</div>
<% else %>
  <div class="stats">
    <strong id="supporters" class="stat">
      0 supporter(s)
    </strong>
  </div>
<% end %>
