<% if @idea %>
<p>sup: <%= @idea.supports.count %> </p>
<div class="stats">
  <%= link_to "idea", supporters_idea_path(idea.id) %>
    <strong id="supporters" class="stat">
      <%= @idea.supporters.count %> supporter(s)
    </strong>
    supporting
  </a>
</div>
<% else %>
<div class="stats">
    <strong id="supporters" class="stat">
      auto 0 supporter(s)
    </strong>
    supporting
</div>
<% end %>
