<% if not user.nil? %>
  <div id="support_form">
  <% if user.supports?(idea) %>
    <%= render 'shared/unsupport', user: user, idea: idea %>
  <% else %>
    <%= render 'shared/support', user: user, idea: idea %>
  <% end %>
  </div>
<% end %>
